/* General styles */
body {
  font-family: 'Montserrat';
  font-size: 22px;
  font-size: 16px;
  background: black;
  color: white;
}

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  color: lightblue;
  text-decoration: none;
  font-weight: bold;

  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }

  &:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

}

.content {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Hide menu list by default on smaller screens */
.menu-list {
  display: none;

  ul li a {
    color: black;
    text-align: center;
  }
}

/* Show menu list when menu icon is clicked on smaller screens */
.menu-icon:hover+.menu-list,
.menu-icon:focus+.menu-list {
  display: block;
  padding: 10px;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.tag-blue {
  background-color: wheat;
  margin: 3px;
  padding: 3px;
  color: black;

}

.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.tag-blue {
  background-color: wheat;
  margin: 3px;
  padding: 3px;
  color: black;

}

.link-list {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  border-radius: 5px;
  color: #1A73E8;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  & a.link {
    color:#1A73E8;
    margin-left: 10px;
  }
}


.project-name {
  display: inline-block;
  margin-right: 10px;
  /* adjust as needed */
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  top: 0;
}

.status-in-progress {
  background-color: orange;
  color: #fff;
}

.status-complete {
  background-color: green;
  color: #fff;
}

.status-delayed {
  background-color: red;
  color: #fff;
}

.project-container {
  display: flex;
  align-items: center;

  & h1 {
    margin-right: 20px;
  }

  & .dropdown {
    position: relative;
  }

  &.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  &.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 160px;
    padding: 12px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  &.dropdown:hover .dropdown-content {
    display: block;
  }

}




/* Show menu list by default on larger screens */
@media (min-width: 768px) {
  .menu-list {
    display: block;
  }

  /* Hide menu icon on larger screens */
  .menu-icon {
    padding: 10px;
    display: none;

    i {
      padding: 10px;
    }
  }
}

nav {
  display: block;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 24px;
}

nav a {
  font-size: 18px;
}

/* Main styles */
main {
  margin-top: 80px;
}

section {
  margin-bottom: 2px;
  padding-left: 5px;
  border-radius: 2px;
  left: 0;
  width: 100%;
  // border: 1px solid;

  &:nth-child(1) {
    text-align: center;
    padding: 10px;

  }

  &:last-child {
    padding: 10px;
  }
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon-list a {
  margin: 0 10px;
}

.icon-list img {
  width: 40px;
  height: 40px;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & section:last-child {
    margin-left: 10px;
  }
}

#skills,
#projects {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
}


h2 {
  font-size: 36px;
  margin-bottom: 32px;
}

ul li {
  margin-bottom: 16px;
}

a.button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

a.button:hover {
  background-color: #0069d9;
  text-decoration: underline;
  font-weight: 100;
}

/* Contact form styles */
form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

label {
  font-size: 18px;
  margin-bottom: 8px;
}

input,
textarea {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}


input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 4px #007bff;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 16px;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

/* Media queries */
@media screen and (max-width: 600px) {
  nav {
    padding: 8px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 8px 0;
  }

  nav a {
    font-size: 16px;
  }

  main {
    margin-top: 120px;
  }

  h2 {
    font-size: 24px;
  }

  ul li {
    font-size: 14px;
  }

  form label {
    font-size: 14px;
  }

  input,
  textarea {
    font-size: 12px;
    padding: 6px;
  }

  button[type="submit"] {
    font-size: 14px;
    padding: 8px 16px;
  }
}


footer {
  bottom: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: white;
  border-top: #ccc solid;
  background: black;
  text-align: center;
  color: white;
  font-size: 10px;
}
