<body>
  <header>

    <!-- Top menu icon for smaller screens -->
    <div class="menu-icon" style="padding: 10px;">
      <i class="fa fa-bars" (click)="showMenu()"></i>
    </div>

    <!-- Top menu list for larger screens -->
    <nav class="menu-list">
      <ul>
        <li><a href="#about" (click)="showMenu()">About</a></li>
        <li><a href="#skills" (click)="showMenu()">Skills</a></li>
        <li><a href="#projects" (click)="showMenu()">Projects</a></li>
        <li><a href="#contactme" (click)="showMenu()">Contact</a></li>
      </ul>
    </nav>



  </header>

  <main>

    <section id="about">
      <h2>About Me</h2>
      <p>Hi, I'm Liyana Khairul and I'm a software developer specializing in Angular, ASP.NET, and React. I also have
        experience with backend development using Express, ASP.NET Core, and Springboot Hibernate.</p>
      <p>My goal is to develop high-quality web applications that meet the needs of my clients and users. I enjoy
        learning new technologies and applying them to solve real-world problems.</p>
    </section>

    <div class="wrapper">
      <section id="skills">
        <h2>Skills</h2>
        <ul>
          <li>Angular</li>
          <li>ASP.NET</li>
          <li>React</li>
          <li>Express</li>
          <li>ASP.NET Core</li>
          <li>Springboot</li>
          <li>Hibernate</li>
        </ul>
      </section>

      <section id="projects">
        <h2>Projects</h2>
        <ul>
          <li>
            <h3>User Management System</h3>
            <p>A basic web application to demonstrate basic Create, Read, Update, Delete functions and Basic
              Authentication</p>
            <p>This application uses Angular and Springboot</p>
            <a href="#">View Project (Coming Soon)</a>
          </li>
          <li>
            <h3>Payroll</h3>
            <p>A Angular-based web application to print employee payslip</p>
            <a href="#">View Project (Coming Soon)</a>
          </li>
          <li>
            <h3>Project 3</h3>
            <p>An E-commerce website built using Angular and Node.js express</p>
            <a href="#">View Project (Coming Soon)</a>
          </li>
        </ul>
      </section>
    </div>

    <section id="contact" style="display: none;">
      <h2>Contact</h2>
      <form>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit">Send</button>
      </form>
    </section>
    <section id="contactme">
      <h2 style="text-align: center;width: 100%;">Contact Me</h2>
      <div class="icon-list">

        <a href="https://github.com/liyanakhrl" target="_blank"><img
            src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png"></a>
        <a href="https://www.linkedin.com/in/liyana-khairul-683105171/" target="_blank"><img
            src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png"></a>
        <i class="fa-brands fa-linkedin-in"></i>
        <a href="mailto:liyanakhrl@gmail.com" target="_blank"><img
            src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png"
            alt="Email"></a>
      </div>
    </section>


  </main>

  <footer>
    <p>&copy; 2023 Liyana Khairul. All rights reserved.</p>
  </footer>
</body>
